.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: blueviolet; */
  margin-bottom: 20px;
}

.button {
  color: white;
  width: 45px;
  height: 45px;
  font-weight: 500;
  font-size: 20px;
  margin: 5px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: rgb(61, 61, 61);
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.87;
}

.button:active {
  /* background-color: rgba(0, 0, 0, 0.1); */
  opacity: 0.99;
}

.buttonsContainer tr:first-child td:first-child button {
  color: rgb(160, 0, 0);
}

.buttonsContainer tr:first-child td:first-child button:hover {
  color: rgb(199, 0, 0);
  background-color: rgb(211, 211, 211);
}

.buttonsContainer tr:first-child td:first-child button:active {
  color: rgb(199, 0, 0);
  background-color: rgb(198, 198, 198);
}

.buttonsContainer tr:first-child td button {
  background-color: rgb(171, 171, 171);
  color: black;
}

.buttonsContainer tr td:last-child button {
  background-color: rgba(255, 166, 0, 0.727);
  color: black;
}

.buttonsContainer tr:last-child td:last-child button {
  background-color: rgba(230, 150, 0, 0.999);
}

/* .buttonsContainer tr:last-child td:last-child button:hover {
  background-color: orange;
} */

.buttonsContainer tr:last-child td:last-child {
  width: 95px;
  background-color: rgba(255, 166, 0, 0.727);
  border-radius: 15%;
}

.buttonsContainer tr:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer tr:last-child td:last-child {
  margin-left: 10px;
  margin-right: 5px;
}

.buttonsContainer tr:last-child td:last-child:hover {
  opacity: 0.87;
}

.buttonsContainer tr:last-child td:last-child:active {
  opacity: 0.99;
}

.buttonsContainer tr:last-child td:last-child button {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
