.display {
  outline: none;
  margin: 45px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opertaion {
  background-color: rgb(42, 42, 42);
  font-size: 18px;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  text-align: end;
  color: rgb(166, 166, 166);
  padding-top: 10px;
  padding-inline: 10px;
}

.result {
  background-color: rgb(42, 42, 42);
  font-size: 40px;
  font-weight: 500;
  outline: none;
  border: none;
  text-align: end;
  color: white;
  padding-inline: 10px;
}
