.display {
  outline: none;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  /* border-radius: 5px; */
  margin: 45px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.opertaion {
  font-size: 18px;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  text-align: end;
  color: rgb(166, 166, 166);
  padding-top: 10px;
  padding-inline: 10px;
}

.result {
  font-size: 40px;
  font-weight: 500;
  outline: none;
  border: none;
  text-align: end;
  color: white;
}
