.calculator {
  /* border: 1px solid rgba(0, 0, 0, 0.43); */
  border-radius: 20px;
  max-width: 250px;
  margin: 30px auto 50px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
